html{
  background: url("../images/yes.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
}

#myHeader {
  color: blueviolet;
  background-size: cover;
}
 
#myName{
  float: left;
  font: 50px Helvetica black;
}
 
#welcome::before{
  content: "Hello!"; 
  float: right;
  font-size: 40px;
  animation: languages 4s infinite;
}
 
@keyframes languages{
  0% {font-size: 20px; opacity: 0;}
  10% {font-size: 20px; opacity: 1; content: "Hola!";}
  20% {font-size: 20px; opacity: 0;}
  30% {font-size: 20px; opacity: 1; content: "Hallo!";}
  40% {font-size: 20px; opacity: 0;}
  50% {font-size: 20px; opacity: 1; content: "你好!";}
  60% {font-size: 20px; opacity: 0;}
  70% {font-size: 20px; opacity: 1; content: "Salut!";}
  80% {font-size: 20px; opacity: 0;}
  90% {font-size: 20px; opacity: 1; content: "Habari!";}
  100% {font-size: 20px; opacity: 0;}
}
 
#my-nav{
  background-color: #333333;
  color: white;
  position: sticky;
  top: 0;
  border-bottom: solid 2px violet;
}
 
#my-picture {
  float: right;
  width: 30%;
  border-left: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
}

#my-nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
 
#my-nav li{
  display: inline;
  padding: 20px;
  font-size: 20px;
}
 
#my-nav a {
  text-align: center;
  font-size: 50px;
  font-style: Open Sans Condensed; 
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif
}
 
#main{
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}
 
img {
  padding: 20px;
  float: right;
}
 
a {
  text-decoration: none;
  text-decoration-color: inherit;
}
 
#quote-container{
  font-size: 30px;
  color: blue;
}

.facts li{
  display: block;
  padding: 10px;
  width: 20px;
}
 
#my-footer{
  bottom: 0;
  text-align: center;
  font-size: 18px;
}
 
#icons-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
#icons-list li{
    display: block;
    padding: 10px;
    float: right;
}
 
#smaller-things{
  font: 25px white;
  font-style: Titilium Web Arial; 
  text-align: center;
}

img{
  width: 40%;
}

.row{
  display: flex;
  border: 5px black;
}

.column{
  flex: 20%;
  padding: 5px;
}

.column img{
  width: 40%;
  box-sizing: border-box;
}

.container{
  height: 25%;
}
