
#myHeader {
  color: blueviolet;
  background-image: "/images/theone.jpeg";
  background-size: cover;
}
 
#myName{
  float: left;
  font: 25px Helvetica black;
}
 
#welcome::before{
  content: "Hello!"; 
  float: right;
  font-size: 20px;
  animation: languages 4s infinite;
}
 
@keyframes languages{
  0% {font-size: 20px; opacity: 1;}
  10% {font-size: 20px; opacity: 0; content: "Hola!";}
  20% {font-size: 20px; opacity: 1;}
  30% {font-size: 20px; opacity: 0; content: "";}
  40% {font-size: 20px; opacity: 1;}
  50% {font-size: 20px; opacity: 0; content: "Hallo!";}
  60% {font-size: 20px; opacity: 1;}
  70% {font-size: 20px; opacity: 0; content: "";}
  80% {font-size: 20px; opacity: 1;}
  90% {font-size: 20px; opacity: 0; content: "你好 !";}
  100% {font-size: 20px; opacity: 1;}
}
 
#my-nav{
  background-color: #333;
  box-sizing: border-box;
  color: white;
  position: sticky;
  top: 0;
  border-bottom: solid 2px violet;
}
 
#my-picture {
  float: right;
  box-sizing: border-box;
  width: 30%;
}
 
#my-nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
 
#my-nav li{
  float: right;
  display: block;
  padding: 20px;
}
 
#my-nav a {
  text-align: center;
  font-size: 70px;
  font-style: Open Sans Condensed; 
}
 
#content {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
 
#greeting-container {
  margin-top: 20px;
}
 
h1 {
  font-family: Helvetica, Arial, sans-serif
}
 
#introduction{
  font-size: 40px;
  color: blueviolet;
  margin: auto;
  float: left;
  box-sizing: border-box;
  width: 50%;
  padding: 0 10%;
}
 
img {
  width: 150px;
  padding: 20px;
  float: right;
}
 
a {
  text-decoration: none;
  text-decoration-color: inherit;
}
 
#quote-container{
  font-size: 30px;
  color: blue;
}
 
.facts{
  font-size: 30px;
}
 
#my-footer{
  bottom: 0;
  position: fixed;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}
 
#icons-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
 
#icons-list li{
    display: block;
    padding: 10px;
    float: right;
}
 
#smaller-things{
  font: 18px white;
  font-style: Piedra Quicksand Titilium Web Arial; 
}

img{

}


