html{
  background: url("../images/yes.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
}

#my-header {
  color: blueviolet;
  background-size: cover;
}
 
#welcome::before{
  content: "Hello!"; 
  float: right;
  font-size: 40px;
  animation: languages 4s infinite;
}
 
@keyframes languages{
  0% {font-size: 20px; opacity: 0;}
  10% {font-size: 20px; opacity: 1; content: "Hola!";}
  20% {font-size: 20px; opacity: 0;}
  30% {font-size: 20px; opacity: 1; content: "Hallo!";}
  40% {font-size: 20px; opacity: 0;}
  50% {font-size: 20px; opacity: 1; content: "你好!";}
  60% {font-size: 20px; opacity: 0;}
  70% {font-size: 20px; opacity: 1; content: "Salut!";}
  80% {font-size: 20px; opacity: 0;}
  90% {font-size: 20px; opacity: 1; content: "Habari!";}
  100% {font-size: 20px; opacity: 0;}
}
 
#my-nav{
  background-color: #333333;
  color: white;
  position: sticky;
  opacity: 0.9;
  top: 0;
  border-bottom: solid 4px violet;
}
 
#my-picture {
  float: right;
  width: 250px;
  height: 150px; 
  padding: 10px;
  box-sizing: border-box;
}

#my-nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
 
#my-nav li{
  display: inline;
  padding: 20px;
  font-size: 30px;
}
 
#my-nav a {
  text-align: center;
  font-style: "Open Sans Condensed"; 
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  text-decoration-color: inherit;
}
 
#quote-container{
  font-size: 30px;
  color: blue;
}
 
#my-footer{
  bottom: 0;
  text-align: center;
  font-size: 18px;
}
 
#smaller-things{
  font: 25px white;
  font-style: Titilium Web Arial; 
  text-align: center;
}

.row{
  display: flex;
  border: 5px black;
}

.column{
  flex: 20%;
  padding: 5px;
  border: 2px solid #333;
}

.column p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
}

.column img{
  width: 40%;
  box-sizing: border-box;
}

.container{
  height: 25%;
}

.my-home p{
  font-family: Helvetica, Arial;
  font-size: 25px;
  word-wrap: normal;
}

.my-project span, h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  word-wrap: normal;
}

#resume-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;  
  padding: 20px;
  font-size: 30px;
  font-style: Helvetica;
}

.container span, button{
  font-style: Helvetica, Arial;
  font-size: 20px;
}

.column img{
  width: 40%;
  box-sizing: border-box;
}

.container{
  height: 25%;
}

.my-home p{
  font-family: Helvetica, Arial;
  font-size: 25px;
  word-wrap: normal;
}

.my-project span, h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  word-wrap: normal;
}

#resume-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;  
  padding: 20px;
  font-size: 30px;
  font-style: Helvetica;
}

.container span, button{
  font-style: Helvetica, Arial;
  font-size: 20px;
}


/* stylesheet for recommendations.html */

#recommendation-container {
  max-width: 1000px;
  height: 100%;
  padding: 20%;
  border: 2px solid #c3c3c3;
  position: absolute;
  margin: auto;
  width: 70%;
  border-radius: 3px;
}

#recommendation{
  align-content: center;
}
#range {
  float: left;
}

#new-button {
  float: right;
}

#refresh ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-image: url(images/book.jpeg);
}